body,
html {
    height: 100%;
    margin: 0;
}

.landingPage {
    height: 100%;
    background-image: url("../images/8-mHeqfLU7HdNrxgM.png");
    background-size: cover;
    position: relative;
    /* filter: blur(3px); */

}

.landingPage div {
    position: absolute;
}

.recipe {
    display: inline-block;
    margin: 10px;
}

.top {
    top: 0;
}

.right {
    right: 0;
}

.bottom {
    bottom: 0;
}

.left {
    left: 0;
}

.lp {
    height: 300px;
    width: 300px;
    filter: blur(3px);
    display: inline-block;
    object-fit: cover;
    border-radius: 50%;
    border: 8px solid #000000;
}

.lp:hover {
    filter: blur(0px);
}

.bg {
    filter: blur(8px);
    height: 200%;
    padding-top: 200px;
    padding-bottom: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgAglio {
    background-image: url("../images/Spaghetti-4-1157x1536.jpg");
}

.bgFrankie {
    background-image: url("../images/Frankie-Recipe-Indian-Burrito-114.jpg");
}

.bgTofu {
    background-image: url("../images/How-to-Cook-Tofu-minimalistbaker.jpg");
}

.bgBiriyani {
    background-image: url("../images/veg-biryani-recipe.jpg");
}

h1 {
    text-align: center;
    background-color: transparent;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.animate {
    color: brown;
    animation: anim 4s ease-in-out infinite;
}

@keyframes anim {
    0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.image {
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
}

.linkList {
    text-align: left;
    background-color: lightgreen;
    color: blueviolet;
}

p,
div {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.image.aboveText {
    position: absolute;
    top: 100%;
    left: 50%;
    border: 3px solid #000000;
    transform: translate(-50%, -230%);
}

.text {
    background-color: white;
    max-width: 800px;
    margin: 100px auto;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    color: white;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -35%);
    z-index: 2;
    width: 90%;
    padding: 20px;
}