h1 {
    text-align: center;
    background-color: greenyellow;
    color: darkgreen;
}
.image {
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.linkList {
    text-align: start;
    background-color: lightgreen;
    color: aquamarine;
}